/*----------------------------------------------*/
/*BASIC SATUPE*/
/*----------------------------------------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato','Arial',sans-serif;
    font-size: 20px;
    font-weight: 300;
    background-color: rgba(0, 0, 0, 0.87);
    color: #b4b1b1;
    text-rendering: optimizeLegibility;
}

.clearfix{zoom:1}
.clearfix:after{
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
    display: block;
}
/*----------------------------------------------*/
/*REUSEBLE ]COMPONENTS*/
/*----------------------------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto;
}

section{
    padding-top: 80px
}

.box{
    padding: 1%;
}


/*----------------------------------------------*/
/* HEADER*/
/*----------------------------------------------*/

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;  
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    padding: 8px 0;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22
}

/*----------HEADINGS----------*/

h1,h2,h3
{  
    text-transform: uppercase;
    font-weight: 300;
}
h1{
    margin-top: 0;
     margin-bottom: 20px;
    color: white;
    font-size: 240%;
    white-space: 4px;
      letter-spacing: 1px;
}

h2{
    text-align: center;
    font-size: 180%;
    margin-bottom: 30px;
    white-space: 2px;
      letter-spacing: 1px;
    
    
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after{
    display: block;
    height: 2px;
    content: " ";
    background-color:#e67e22;
    width: 100px;
    margin: 0 auto;
    margin-top:30px 
}

/*----------PARAGRAF----------*/

.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
        
}
.box p{
    font-size: 90%;
    line-height: 145%;
}

/*----------BUTTONS----------*/

.icon-big{
    font-size: 400%;
    color: #cf6d17;
    margin-bottom: 10px;
    display: block
}
/*----------BUTTONS----------*/
.btn:link,
.btn:visited{
    display:inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: backgrond-color 0.2s,border 0.2s,color 0.2s;
   
}

.btn-full:link,
.btn-full:visited{
    background-color: #e67e22;
    border: 1px solid #e67e22; 
    color: #fff;
    margin-right: 15px
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22
}



.btn:hover,
.btn:active{
    background-color: #cf6d17
}

.btn-full:hover,
.btn-full:active{
    background-color: #cf6d17;
  
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #e67e22;
    color: #fff
}

/*----------------------------------------------*/
/*MEALS*/
/*----------------------------------------------*/
.section-meal{
    padding: 0;
    
}
.meal-showcase{
    list-style: none;
    width: 100%;
  
}

.meal-showcase li{
    display: block;
    float: left;
    width: 25%
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden
}

.meal-photo img{
    opacity: 0.7;
    width: 100%;
    height: auto;
    transform: scale(1.25);
    transition: transform 0.5s
}

.meal-photo img:hover{
    opacity: 1;
    transform: scale(1)
}

/*----------------------------------------------*/
/*FEATURES*/
/*----------------------------------------------*/
.section-features.long-copy{
    margin-bottom: 40PX;      
}

/*----------------------------------------------*/
/*HOW IS WORKS*/
/*----------------------------------------------*/


.step-box:first-child{
    text-align: right;
    padding-right: 2%;
    margin-top: 30px;
    
}

.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}


.app-screen{
    width:  40%;
    margin-left: 50%
}

.work-step{
    margin-bottom: 50px;
    word-spacing: 
}

.work-step div{
    color: #e67e22;
    display: inline-block;
    border: 2px solid #e67e22;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 15px
}

.btn-app{
    padding-left:20px;
}

.btn-app img{
    height: 50px;
    width: auto
}